<template name="friends">
    <button class="familyJs">Message all of family</button>    <br>

    {{#each friends.family}}
        {{>friendItem}}
    {{else}}
        Empty/Loading
    {{/each}}
    
    <button class="bestiesJs">Message all of besties</button>    <br>

    {{#each friends.besties}}
        {{>friendItem}}
    {{else}}
        Empty/Loading
    {{/each}}

    <button class="friendsJs">Message all of friends</button>    <br>

    {{#each friends.friends}}
        {{>friendItem}}
    {{else}}
        Loading
    {{/each}}

    <button class="colleaguesJs">Message all of colleagues</button>    <br>

    {{#each friends.colleagues}}
        {{>friendItem}}
    {{else}}
        Loading
    {{/each}}
</template>


<template name="friendItem">
        {{#if target.blocking}}
            {{type}}
        <a href='friendsWall/{{targetId}}'>{{target.username}}</a>
        <button class='blockJs'>{{blockStatus}}</button>
        {{target.profile.first}}{{target.profile.last}}
        {{#with target.profile.avatar}}
        {{> imageShow}}
        {{/with}}
        
<select class='selectTypeJs' value="{{type}}">
    {{#each val in friendTypes}}
    <option {{selectedType val}} value="{{val}}">{{val}}</option>
    {{/each}}
</select>
    {{startDate}}
    <br>
    {{/if}}
</template>